<div id="the_yelp_user_reviews" class="popup_window">
	<div class="top"></div>
	<div class="wrapped">
		<div class="header">
			<h2>Yelp User Reviews</h2>
			<div class="close"><a href="#">Close</a></div>
			<div class="clear"></div>
		</div>
		<div class="info_content" id="yelp_user_reviews">


		</div>
	</div>
	<div class="clear"></div>
	<div class="bottom"></div>
</div>
