<div id="compare_results" class="popup_window">
	<div class="top"></div>
	<div class="wrapped">
		<div class="header">
			<h2>Compare Selected Schools</h2>
			<div class="close"><a href="#">Close</a></div>
			<div class="clear"></div>
		</div>
		<div id="compare_results_content" class="info_content"></div>
	</div>
	<div class="clear"></div>
	<div class="bottom"></div>
</div>
<!-- end #compare_results -->
