<div id="the_house_details" class="popup_window">
	<div class="top"></div>
	<div class="wrapped">
		<div class="header">
			<h2>More Information</h2>
			<div class="close"><a href="#">Close</a></div>
			<div class="clear"></div>
		</div>
		<div class="info_content" id="house_details">


		</div>
	</div>
	<div class="clear"></div>
	<div class="bottom"></div>
</div>
