<div id="compare">
	<a id="compare_schools" class="compare disabled" href="">Compare</a>
	<a id="school_directions" class="driving disabled end" href="">Get Directions</a>
</div>
<div id="compare_selected">
	<span>0 Schools Selected</span>
</div>