
<!-- #==LOCAL GUIDE   
  #Subject Related Profession Location Employment / Salary Info
  #Area Info from replacements (maybe)
  #Campus / Local Newspaper
  #small map of school location - get driving directions / book a flight.  
  #Hot Spots Around Campus (places to go / things to do – Yelp Mashup)
  #Housing Prices Around (Craigslist) will need to switch view to show map http://www.mapskrieg.com/view/albany/ - - 
   #also compare to rental costs from Craigslist nearby 
   t.string   ""
   t.string   ""
   t.string   ""
   t.string   ""
  #link out to page to show nearby schools. --> 
<% reset_cycle() -%>
	<table class="universal school" cellspacing="0">
		<tr class="<%= cycle("even", "odd") -%>">
			<th colspan="2">Local Guide</th>
		</tr>
		


	</table>
