<div class="ad_container">
	<form method="GET" action="/mapsearch" id="find_school_form">
		<input type="text" name="location" value="Location or Address" />
		<a class="submit" href="#" onClick="$('#find_school_form').submit();">Submit</a>
	</form>
</div>