<div id="page_header">
	<div id="page_header_content">
		<h2>Main Page Title</h2>
		<h3>Subtitle</h3>
	</div>
</div>
<!-- end #page_header -->


<div id="wrapper">
	<div id="content">
		<div id="main">
			<img class="page_image" src="/images/photo_dummy.png"/>
			
			<h3>Lectus arcus pulvinar</h3>
			<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo.</p>
			<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
			<div class="section_break"></div>
			
						
		
			
			<!-- end .section_break -->
			<h3>Featured Articles</h3>
			
			
			<div class="entry thumb">
				<div class="thumbnail"><img src="/images/photo_dummy_thumb.png"/></div>
				<div class="article">
					<h4><a href="#">Morbi interdum mollis sapien</a></h4>
					<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.  <a href="#">Read More</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end .entry -->
			<div class="entry thumb">
				<div class="thumbnail"><img src="/images/photo_dummy_thumb.png"/></div>
				<div class="article">
					<h4><a href="#">Morbi interdum mollis sapien</a></h4>
					<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.  <a href="#">Read More</a></p>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end .entry -->
			<div class="section_break"></div>
			<!-- end .section_break -->
			<div class="module">
				<div class="header">
					<h4>Full Module</h4>
				</div>
				<div class="content">
					<div class="entry">
						<div class="article">
							<h4><a href="#">Morbi interdum mollis sapien</a></h4>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.  <a href="#">Read More</a></p>
						</div>
					</div>
					<!-- end .entry -->						
				</div>
				<div class="footer"></div>
			</div>
			<!-- end .module -->
		</div>
		<!-- end #main -->
		
		
		<div id="sidebar">
			<div class="module">
				<div class="header">
					<h4>Side Module</h4>
				</div>
				<div class="content top">
					<ul class="link_list">
						<li><a href="#">Phasellus</a></li>
						<li><a href="#">Lacina</a></li>
						<li><a href="#">Magna</a></li>
						<li><a href="#">Laoreet</a></li>
						<li><a href="#">Pulvinar</a></li>
					</ul>
				</div>
				<div class="footer"></div>
			</div>
			<!-- end .module -->
			<div class="module">
				<div class="header">
					<h4>Side Module</h4>
				</div>
				<div class="content">
					<ul class="link_list">
						<li><a href="#">Phasellus</a></li>
						<li><a href="#">Lacina</a></li>
						<li><a href="#">Magna</a></li>
						<li><a href="#">Laoreet</a></li>
						<li><a href="#">Pulvinar</a></li>
					</ul>
				</div>
				<div class="footer"></div>
			</div>
			<!-- end .module -->
			<div class="ad_container">
				<%= render(:partial => "sidebar_find_a_school_form") %>
			</div>
		</div>
		<!-- end #sidebar -->
		<div class="clear"></div>
	</div>
	<!-- end #content -->
	</div>
<!-- #wrapper -->
